*{
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";

.active{
  text-decoration: underline;
  color:black
}

.not{
  color: black;
}
.active_l{
  text-decoration: underline;
  color:black
}

.not_l{
  color: black;
}

